<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flast server</title>
    <style>
        .hidden {
            display: none;
        }

        .todo-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <h2>Todo List</h2>
    <div id="error" class="hidden">error something went wrong</div>
    <form id='form'>
        <input type="text" id='todo_item' name="todo_item">
        <input type="submit" value="Create">
    </form>
    <ul id='todo_list' class="todo-list">
        {% for d in data %}
        <li>
            <input type="checkbox" data-id='{{d.id}}' class="checked" {% if d.checked %}checked{%
                endif%}>{{d.todo_item}}
        </li>
        {% endfor %}
    </ul>

    <script>
        document.getElementById('form').onsubmit = function (e) {
            e.preventDefault();
            fetch('/todos/create', {
                method: 'POST',
                body: JSON.stringify({
                    'todo_item': document.getElementById('todo_item').value
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(function (response) {
                return response.json();
            }).then(function (jsonResponse) {
                console.log(jsonResponse);
                const item = document.createElement('LI');
                item.innerHTML = "<li class='todo-item'> <input type='checkbox' class='checked' data-id="
                    + jsonResponse['id'] + ">" + jsonResponse['todo_item'] + "</li>";
                const list = document.getElementById('todo_list');
                list.insertBefore(item, list.firstChild);
                document.getElementById('error').className = 'hidden'
                listenCheckbox();
            }).catch(function () {
                document.getElementById('error').className = '';
            });

        }

        listenCheckbox();

        function listenCheckbox() {
            const checkboxes = document.querySelectorAll('.checked');
            for (let i = 0; i < checkboxes.length; i++) {
                const checkbox = checkboxes[i];
                checkbox.onchange = function (e) {
                    console.log('event', e);
                    const checkboxstate = e.target.checked;
                    const todoid = e.target.dataset['id']
                    fetch('/todos/' + todoid + '/edit', {
                        method: 'POST',
                        body: JSON.stringify({
                            'checked': checkboxstate
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(function (response) {
                        return response.json();
                    }).then(function (jsonResponse) {
                        console.log(jsonResponse);

                        document.getElementById('error').className = 'hidden'
                    }).catch(function () {
                        document.getElementById('error').className = '';
                    });
                }
            }
        }


    </script>

</body>

</html>